/* CSS - Cascading Style Sheet */

/* Color palette */
:root {
  --theme-1: rgb(220, 215, 210);
  /* This is the background color */
  --theme-2: rgb(250, 150, 150);
  /* This is for lighter text on dark backgrounds */
  --theme-3: rgb(180, 100, 100);
  /* This is the main accent colour */
  --theme-4: rgb(160, 80, 80);
  /* This is for accent hover */
  --theme-5: rgb(140, 60, 60);
  /* This is for accent lines */
}

/* Main */
html,
body {
  font-family: "Oswald", sans-serif;
  font-weight:300;
  background-color: var(--theme-1) !important;
  font-size: 100% !important;
  min-height:100%;
}

.theme-title-typography {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.theme-color-text {
  color: var(--theme-3) !important;
}

.data {
  color: var(--theme-2) !important;
}

.theme-color-background {
  background-color: var(--theme-3) !important;
}

.dropdown:hover {
  background-color: var(--theme-4) !important;
}

.dropdown:focus {
  outline-color: var(--theme-5) !important;
}

.main-title {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: black !important;
  font-size: 5.3vw;
  line-height: 0.67;
  font-weight: 100;
  padding-bottom: 10px;
  margin-top: -30px;
  letter-spacing: -2px !important;
}

@media screen and (min-width: 1800px) {
  .main-title {

    font-size: 7.0em;

  }
}

@media screen and (max-width: 1350px) {
  .main-title {
    font-size: 5.5em
  }
}

@media screen and (max-width: 900px) {
  .main-title {
    font-size: 6.5em !important;
  }
}

.about {
  display: none;
}

#app .left-pane {
  background: url("images/gradient.png");
  background-size: contain;
  width: 52% !important;
  max-width: 900px!important;
  font-size: 95%;
}
#app .left-pane-content {
 padding-left:50px!important;

}


.theme-button {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  width: auto;
  transition: all 0.2s ease-in-out;
  font-weight:300;
}

.theme-button:hover {
  background-color: var(--theme-4) !important;
  transform: scale(1.05);
}

#app .category-button {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 4px;
  backdrop-filter: blur(5px);
  line-height: 1.5;
  padding: 3px 10px 3px 10px;
}

#app .category-button:hover {
  background-color: var(--theme-4) !important;
  color: white;
}

#app .category-button.active {
  background-color: var(--theme-3) !important;
  color: white;
}

#app .ui-mode {
  top: 0px;
  padding: 4px 3px 6px 3px !important;
  box-shadow: 0.0rem 0.1rem 1rem rgba(0, 0, 0, 0.4) !important;
}

#app .ui-mode .item {
  cursor: pointer;
  display: inline;
  font-weight: 300;
  padding: 0px 15px 0px 15px;
  padding-top:0px;
  line-height:1.0;

}

.placecard {
  height: calc(100vh - 33vh);
  margin-top: 85px;
  font-size:100%;
  font-weight:300;
}

.placecard-top {
  height: 70% !important;
}

.placecard-bottom {
  height: 25% !important;
}



.placecard-metadata-content{
height:70px!important;
overflow:hidden;
}

.metadata-item{
  font-size:18px;
}

.tag{
  margin-left:10px;
}

#app .right-pane {
  width: 27% !important;
  min-width: 420px;
  max-width: 600px;
}


.placecard-title {
  line-height: 1.0;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 700;
  margin-bottom: 0px !important;
  font-size:40px;  
}


.placecard-content {
  padding-top: 10px;

}


#app .ol-popup {
  bottom: 20px !important;
  left: -50px!important;
  width: 120px!important;
  font-weight:200;
  font-size:0.85em!important;
}


@media screen and (max-width: 900px) {
  .atlas-gradient {
    background: linear-gradient(180deg, rgba(232, 228, 217, 0) 0px, var(--theme-1) 300px) !important;
  }

  .ui-overlay {
    top: 0px !important;
    position:fixed!important;
  }

  #app .right-pane {
    min-width: 100%;
    max-width: 100%;
    z-index:102!important;
  }

  #app .left-pane {
    margin-top: calc(100vh - 30vh)!important;
    z-index:1000!important;
      position:absolute!important;
      width:100%!important;
      padding:0px!important;
  }

  #app .left-pane-content {
      padding:0px!important;
  }

  #app .main-title {
    font-size: 6.5em!important;
    font-weight: 400!important;
    margin-top: -30px!important;
  }

  .placecard {
    height: calc(100vh - 36vh);
    width:calc(100% - 50px);
    margin-top: 0px;
    position:fixed!important;
  }

  .close-card-button{
    margin-top:60px;
  }


  #app .placecard-title{
    font-size:8em!important;
  }

  .ui-overlay-top{
margin-top:calc(30px)!important;
z-index:101!important;
  }

  .ui-overlay-bottom{
    margin-top:100%!important;
    z-index:1!important;
  }

  .close-card-button{
    left: calc(15px) !important;
    top:0px!important;
  }

  @media screen and (max-width: 900px) {
    #app  .left-pane{
      padding: 30px 10px 100px 10px!important;
    }
    #app  .main-title {
    font-size: 100px !important;
  }
  #app .sub-title {
    font-size: 50px;
  }
  }

}