/*CSS here will be used by any file that has added the stylesheet*/

/* CSS - Cascading Style Sheet */




.placecard {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  height: calc(100vh - 220px);
  pointer-events: auto !important;
  border-radius: 15px;
  margin-right: 30px;
  margin-top: 70px;
  padding: 0px;
  margin-bottom: 20px;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(250, 250, 250, 1.0) !important;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.3),
    0 0px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease-in-out;
}

.place-card::-webkit-scrollbar {
  width: 0 !important
}

.close-card-button {
  position: absolute;
  width: 35px;
  height: 35px;
  right: calc(40px) !important;
  margin-top: 10px !important;
  padding: 14px 12px 10px 7px;
  line-height: 1px;
  font-size: 50px;
  font-weight: 100;
  border-radius: 50%;
  color: white;
  transform: rotate(45deg);
  cursor: pointer;
  pointer-events: auto;
  z-index: 1000;
  background-color: rgb(180, 100, 100);
  margin-bottom: 0px;
}

.close-card-button:hover {
  background-color: rgb(140, 60, 60);
}

/* The top half of the placecard containing the graphics*/

.placecard-top {
  display: flex;
  height: 50%;
  border-radius: 0px !important;
  min-height: 180px;
  background-color: rgb(60, 60, 60);
}

#app .image-container {
  height: 40vh !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.image {
  display: block;
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
  transform: scale(1.2) !important;
}

.no-images {
  margin: auto;
  font-size: 18px;
  text-align: center;
  color: white;
}

/* The bottom half of the placecard containg the metadata */

.placecard-bottom {
  flex-grow: 1 !important;
  border-radius: 0px !important;
  padding: 0px 25px 0px 25px !important;

}

.placecard-text {
  font-family: "Barlow Condensed", sans-serif;
  color: black;
  font-size: 1vw;
  text-align: left;
  hyphens: auto;
  line-height: 1.2;
  padding: 10px 0px 0px 0px;
}

.placecard-text p {
  padding: 0px;
}

.placecard-title {
  letter-spacing: -0.0rem;
  text-align: left;
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 3vw;
}


.placecard-subtitle {
  letter-spacing: -0.0rem;
  font-size: 2vw;
  text-align: left;
  width: calc(100%);
  margin-bottom: 10px;
  margin-top: -8px;
  float: left;

}

.placecard-content {
  padding: 20px 0px 10px 0px;
}

.placecard-metadata-content {
  padding: 0px 0px 10px 0px;
  font-size: 1.1vw;
  line-height: 1.2;
  float: left;
  width: 100%;
}

.metadata-item {
  margin-bottom: 5px;
  float: left;
  width: 50%;
}

.placecard-metadata-content .label {
  float: left;
  text-align: left;
  width: 32%;
}

.placecard-metadata-content .short-label{
  float: left;
  text-align: left;
  width: 22%;
}

.placecard-metadata-content .tag {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 65%;
  /* text-transform: capitalize; */
  font-weight: 600;
}


.placecard-metadata-description {
  text-align: justify;
  font-weight: 300;
}

.placecard-metadata-content .preview{
  height:auto;
  margin-top:10px;
  max-height:100px;
  padding-right:10px;
  overflow:hidden;
  font-size:90%;
  mask-image: linear-gradient(180deg, #000 -30%, transparent);
  }


.placecard-center-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}



/* large screens - settings to not make UI too large*/
@media screen and (min-width: 1900px) {

  .placecard-title {
    font-size: 2.3em;
  }

  .placecard-subtitle {
    font-size: 1.9em;
  }

  .placecard-text{
  font-size: 1.1em;
  }

  .placecard-metadata-content{
    font-size: 1.0em;
    }
}


@media screen and (max-width: 1300px) {
.metadata-item {
  width: 100%;
  font-size: 17px !important;
}
.placecard-metadata-content {
  font-size: 18px !important;
}

.placecard-metadata-content .label {
  float: left;
  text-align: left;
  width: auto;
}

.placecard-metadata-content .short-label {
  float: left;
  text-align: left;
  width: auto;
}

.placecard-metadata-content .tag {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  /* text-transform: capitalize; */
  font-weight: 600;
}

}


/* Adaptations to mobile screen sizes */


@media screen and (max-width: 900px) {


  .placecard {
    height: calc(100vh - 300px);
    margin-top: 10px;
  }

  .placecard-title {
    font-size: 35px;
  }

  .placecard-subtitle {
    font-size: 30px;
  }

  .metadata-item {
    width: 100%;
    font-size: 20px;
  }

  .placecard-metadata-content .label {
        width: auto;
  }
  
  .placecard-metadata-content .tag {
    width: auto;
    padding-left: 10px;
    padding-right: 0px;
  }

  .placecard-metadata-content .preview{
    display:none;

    }  
}
