/*CSS here will be used by any file that has added the stylesheet*/

/* CSS - Cascading Style Sheet */



/* Main */
.placeview-topbutton-container{
    margin-left: 95px !important; 
    margin-top: 40px !important; 
    margin-bottom: 0px !important; 
    position:absolute !important; 
    z-index:1000;
}

.placeview-topbutton{
  float:left;
  margin-right:10px;
}

table p {
    font-weight: normal;
}

table td {
    width: 130px !important;
}

.main-container {
    position:absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    z-index:100;
    overflow: hidden;
}

.place-card-container {
    background-color: transparent !important;
    flex: 0 0 40%;
    /* Take up exactly 40% of the space */
    max-width: 800px;
    min-width: 500px;
    height: 100vh !important;
}

.place-view {
    background-color: transparent !important;
    color: black;
    width: 100%;
    /* Take up the remaining space */
    padding-top: 25px;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.place-gallery-container {
    flex: 1;
    padding: 10px 30px 100px 0px;
}

.place-gallery-container .dropdown {
    margin-right:10px;
    margin-bottom:15px;
    float:left;
}

.content-table {
  width:100%;
}

.content-table-date{
    width:100%;
}

.content-table td {
    padding-right: 15px;
    padding-top: 2px;
    width: 130px;
    vertical-align: top;
    text-align: right;
}

.content-table-date td {
    padding: 15px;
    padding-top: 2px;
    padding-right: 35px;
    vertical-align: top;
    text-align: center;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 4px;
    margin: 8px 16px 8px 0px;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: white;
}

.document-placeholder {
    font-size: 16px;
    width: 420px;
    max-width: 416px;
    height: 60px;
    background-image: url("/file.png");
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: 8px;
    background-color: white;
    padding: 11px 10px 5px 55px;
}

.document-placeholder .documentlabel {
    line-height: 1.0;
    display: inline;
    margin-right: 3px;
}

.document-placeholder .documentdata {
    line-height: 1.0;
    display: inline;
    margin-right: 20px;

}

.document-title {
    color: rgb(180, 100, 100);
    font-weight: 500;
    height: 18px;
    overflow: hidden;
    width: 100%;
    line-height: 1.0;
}

.observation-placeholder {
    width: auto;
    max-width: 416px;
    height: 200px;
    border-radius: 8px;
    padding: 0px;
    background-color: white;
    cursor: auto;
}

.observation-title {
    color: rgb(180, 100, 100);
    font-size: 1.4em;
    font-weight: 500;
    float: left;
    padding: 10px 10px 10px 20px;
}

.observation-date {
    color: rgb(180, 100, 100);
    font-size: 1.1em;
    float: right;
    padding: 15px 20px 10px 20px;
}

.observation-body {
    width: 100%;
    float: left;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 300;
    border-style: dotted;
    border-color: rgb(180, 100, 100);
    border-width: 1.3px 0 0px 0;
    padding: 10px 10px 10px 20px;
    overflow-y: auto;
}

.image-square {
    width: 100%;
    height: 100%;
}

.image-square-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-square-plan {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
    background-color: white;
}

.image-placeholder img {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.image-placeholder:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.image-placeholder:hover img {
    transform: scale(1.1);
}

.image-placeholder .meta-data-overlay {
    pointer-events: none;
    position: relative;
    margin-top: -150px;
    bottom: -200px;
    opacity: 0.0;
    z-index: 10;
    padding: 0px;
    height: 150px;
    width: 100%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.5) 100%);
    transition: all 0.5s ease-in-out;
}

.meta-data-overlay .meta-data-overlay-text {
    position: absolute;
    padding-bottom: 10px;
    padding-left: 15px;
    transition: all 0.5s ease-in-out;
    opacity: 1.0;
    text-transform: capitalize;
}

.meta-data-overlay .meta-data-overlay-text:first-child {
    bottom: 20px;
}

.meta-data-overlay .meta-data-overlay-text:last-child {
    bottom: 0px;
}

.plan-placeholder .meta-data-overlay {
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.8) 100%);
    transition: all 0.5s ease-in-out;
}

.image-placeholder:hover .meta-data-overlay {
    opacity: 1.0;
}

@media screen and (max-width: 1300px) {

    .placecard-full-content .placecard-metadata-content {
        font-size: 1.5em;
    }

    .placecard-title {
        font-size: 40px;
    }

    .placecard-subtitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 1100px) {

    .document-placeholder {
        width: 100% !important;
    }
}


@media screen and (max-width: 900px) {

    .placeview-topbutton-container{
        margin-left: 95px !important; 
        margin-top: 25px !important; 
    }
    
    .placeview-topbutton{
        font-size:20px;
    }

    #app html,
    body {
        height: auto !important;
        overflow: auto !important;
    }

    .content-table td {
        color:black!important;
     }


    #app .main-container {
        position: relative !important;
        display: block !important;
        height: 100vh !important;
        overflow-y: scroll !important;
        background-color: transparent !important;
        color: black !important;
    }

    .place-card-container {
        position: relative !important;
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        height: auto !important;
    }

    #app .place-view {
        display: block;
        position: relative !important;
        color: black !important;
        width: calc(100% - 40px) !important;
        height: auto !important;
        margin-left: 20px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
        padding-left: 15px;
        background-color: white !important;
        overflow: hidden !important;
    }

    .place-gallery-container {
        color: black;
        overflow: hidden;
        position: relative;
        float: left;
    }

    .image-placeholder {

        background-color: #eee;
        border-radius: 4px;
        margin: 8px 16px 8px 0px;
        display: inline-block;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background-color: white;
    }



    @media screen and (max-width: 400px) {


        .document-title {
            margin-top: 5px;
            height: 35px;
            overflow: hidden;
            width: 100%;
        }

        .document-placeholder p {
            display: none;
        }
    }

    .placecard-metadata-content {
        font-size: 2.5em;
    }

    .observation-placeholder {
        background-color: rgb(240, 240, 240);

    }

    @media screen and (max-width: 500px) {
        .observation-title {
            display: none;
        }

        .observation-date {
            float: left;
        }

        .observation-placeholder {
            height: auto;
            width: 100% !important;
        }
    }

    .document-placeholder {
        width: calc(100% - 20px);
        max-width: 420px;
        background-color: rgb(240, 240, 240);

    }

    table td {
        width: 80px !important;
    }

    .place-gallery-container .dropdown {
        margin-left: 3px;
        margin-bottom: 10px;
    }
}